:root {
    --1: #344742;
    --2: #CFB02C;
}
body {
    font-family: sans-serif;
    margin: 0;

}
.intro-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.links{
    list-style: none;
    display: flex;
    gap: 40px;
}
.link:hover{
    text-decoration: underline;
    color: var(--2);
    text-underline-offset: 7px;
}
.link a{
    text-decoration: none;
    color: var(--1);
}
.btn-nav{
    background: var(--2);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 18px;
    padding: 13px 28px;
    font-size: 14px;
    font-weight: bold;
}
.btn-nav:hover{
    background: #56716f;
}
.cart{
    vertical-align: middle;
    cursor: pointer;
}
.shopH2{
    font-size: 53px;
    margin-bottom: 0;
}
p{
    font-size: 20px;
}
.shop{
    text-align: center;
}
.select{
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    width: 220px;
}
.products {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10%;
}
.product {
    width: 18%;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
.price{
    display: flex;
    justify-content: center;
}
.old-price{
    text-decoration: line-through;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 7px;
}
.new-price{
    margin-left: 10px;
    color: var(--1);
}
.btn-buy{
    background: white;
    cursor: pointer;
    border-radius: 30px 0 30px 0;
    padding: 10px 25px;
    border-color: var(--2);
    border-style: solid;
    margin-bottom: 35px;
}
.btn-buy:hover{
    background: var(--2);
    color: white;
}


.ebook-section {
    display: flex;
    align-items: center;
    background-color: var(--1);
    padding: 70px;
    color: white;
    justify-content: center;
    gap: 10%;
}
.ebook h2{
    display: flex;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
}
.ebook p{
    font-size: 20px;
    display: flex;
    text-align: justify;
}
.ebook {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 40%;
}

.email {
    display: flex;
    gap: 10px;
}

.email input {
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}
.ebook a{
    text-decoration: underline;
    color: white;
    text-underline-offset: 7px;
    padding-left: 7px;
}
.email button {
    background-color:  var(--2);
    color: white;
    border: none;
    padding: 15px 60px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}
.email button:hover{
    background:  #56716f;
}

footer {
    background-color: #293330;
    color: white;
    padding: 80px 0;
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
}
.footer-container h3 {
    font-size: 24px;
    margin-top: 0;
}
.social-icons i {
    color: var(--2);
    font-size: 20px;
    margin: 20px 5px;
}
.footer-links ul, .footer-services ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li a, .footer-services ul li a {
    color: #d4af37;
    text-decoration: none;
    line-height: 35px;
    font-size: 20px;
}
.footer-links a:hover, .footer-services a:hover {
    text-decoration: underline;
    color: var(--2);
    text-underline-offset: 4px;
}
.footer-newsletter input {
    display: flex;
    padding: 14px 25px;
    width: 220px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    border-radius: 25px;
}
.footer-newsletter p{
    margin: 3px;
    font-size: 16px;
}
.footer-newsletter button {
    background-color: #d4af37;
    color: white;
    font-size: 16px;
    padding: 14px 25px;
    width: 270px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.footer-newsletter button:hover{
    background: #56716f;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 10px;
    height: 100px;
    align-items: center;
}
.footer-bottom p{
    font-size: 12px;
}
.footer-bottom a {
    color: #d4af37;
    text-decoration: none;
}


@media only screen and (max-width: 1055px){
    body{
        flex-wrap: wrap;
    }
    .intro-container{
        width: 90%;
    }
    .shop p{
        padding: 0 30px;
    }
    .product {
        text-align: center;
        width: 30%;
    }
    .ebook-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .ebook{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ebook h2{
        font-size: 28px;
        width: 250px;
    }
    .ebook p{
        font-size: 18px;
        width: 500px;
        justify-content: center;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }
    .footer-links {
        padding-right: 25%;
    }
    .footer-container h3 {
        font-size: 22px;
    }
    .footer-links ul li a, .footer-services ul li a {
        font-size: 18px;
    }
    .footer-logo{
        height: auto;
    }
}
@media only screen and (max-width: 970px){
    .intro-container{
        flex-direction: column;
    }
}
@media only screen and (max-width: 708px){
    .product {
        flex-direction: column;
        width: 100%;
    }
    .footer-container{
        flex-direction: column;
    }
}


